In [2]:
import pandas as pd
from pathlib import Path

# Get the project root directory (assuming you're in notebooks/)
PROJECT_ROOT = Path.cwd().parent  # or Path(__file__).parent.parent

# Read your data
train_df = pd.read_csv(PROJECT_ROOT / "data" / "train.csv")
test_df = pd.read_csv(PROJECT_ROOT / "data" / "test.csv")

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230130 entries, 0 to 230129
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        230130 non-null  int64
 1   date      230130 non-null  object
 2   country   230130 non-null  object
 3   store     230130 non-null  object
 4   product   230130 non-null  object
 5   num_sold  221259 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 10.5+ MB

In [5]:
train_df.shape

(230130, 6)

In [7]:
train_df.size

1380780

In [8]:
train_df.describe()

                  id       num_sold
count  230130.000000  221259.000000
mean   115064.500000     752.527382
std     66432.953062     690.165445
min         0.000000       5.000000
25%     57532.250000     219.000000
50%    115064.500000     605.000000
75%    172596.750000    1114.000000
max    230129.000000    5939.000000

In [9]:
train_df.head(10)

   id        date country              store             product  num_sold
0   0  2010-01-01  Canada  Discount Stickers   Holographic Goose       NaN
1   1  2010-01-01  Canada  Discount Stickers              Kaggle     973.0
2   2  2010-01-01  Canada  Discount Stickers        Kaggle Tiers     906.0
3   3  2010-01-01  Canada  Discount Stickers            Kerneler     423.0
4   4  2010-01-01  Canada  Discount Stickers  Kerneler Dark Mode     491.0
5   5  2010-01-01  Canada  Stickers for Less   Holographic Goose     300.0
6   6  2010-01-01  Canada  Stickers for Less              Kaggle    1837.0
7   7  2010-01-01  Canada  Stickers for Less        Kaggle Tiers    1659.0
8   8  2010-01-01  Canada  Stickers for Less            Kerneler     807.0
9   9  2010-01-01  Canada  Stickers for Less  Kerneler Dark Mode     940.0

In [11]:
train_df.nunique()

id          230130
date          2557
country          6
store            3
product          5
num_sold      4037
dtype: int64